<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center>Data 1202: Data Analytics Tools</h1>
    <h1 align=center>Lab 6</h1>
</div>

<h1>Introduction</h1>
<h3>Welcome!</h3>
    <ul>
<p>The Objectives of this lab are:</p>
<li> Learn the use of iloc for subsetting a datastet. 
<li> Learn how to create functions in pythons.
    </ul>

<h2>Table of Contents</h2>

<div class="alert alert-block alert-info" style="margin-top: 20px">
<ol>
     <li><a href="#correct data format">Subseting using iLOC</a></li>
    <li><a href="#data_standardization">Functions</a></li>
</ol>

</div>

In [1]:
#Import Python Libraries
import numpy as np
import pandas as pd


<div class="alert alert-block alert-info" style="margin-top: 20px">
<h1 align=center>Part 1 : iLOC</h1>
</div>

In [7]:
df_raw = pd.read_csv('vgsales.csv')

df_filtered = df_raw.iloc[0:10,0:4]

In [10]:
# To see what the data set looks like, we'll use the head() method.
df_filtered.head(11)

   Rank                       Name Platform    Year
0     1                 Wii Sports      Wii  2006.0
1     2          Super Mario Bros.      NES  1985.0
2     3             Mario Kart Wii      Wii  2008.0
3     4          Wii Sports Resort      Wii  2009.0
4     5   Pokemon Red/Pokemon Blue       GB  1996.0
5     6                     Tetris       GB  1989.0
6     7      New Super Mario Bros.       DS  2006.0
7     8                   Wii Play      Wii  2006.0
8     9  New Super Mario Bros. Wii      Wii  2009.0
9    10                  Duck Hunt      NES  1984.0


<div class="alert alert-block alert-info" style="margin-top: 20px">
<h1 align=center>Part 2 : Functions </h1>
</div>

In [ ]:
def pizza_welcome1(customer):
	# Welcome customers to Pizza shop"
	print('Welcome to Pizza shop '+customer.title())

In [ ]:
# call the function using different input
pizza_welcome1('Nur')	
pizza_welcome1('Jacklyn')
pizza_welcome1('Mazz')

In [ ]:
#Function takes a list and uses a loop to print
def waiting(names):
    """ Sends a message to all waiting customers """

    for name in names:
        print("Your pizza is almost ready",name.title())

customers = ['poorna','sid','surhabi','halima','mo','tunji']

waiting(customers)

In [ ]:
# Create a list
customers = ['poorna','sid','surhabi','halima','mo','tunji']
# Call the function
waiting(customers)

In [ ]:
# Build a function
def subset_data(df, row_select, col_select):
  # DOCSTRING
  """
  This function is used to dynamically slice data from 
  a users dataframe. 

  row_select: this represents the rows the user wants
  col_select: this is the columns
  """
  # Magic happens
  subset = df.iloc[row_select, col_select]
  
  # return this value
  return subset

In [ ]:
first_row = subset_data(raw_vg_sales, 0, [0,1,2,3])
tenth_row = subset_data(raw_vg_sales, 10, [0, 1, 2, 3])

for row in range(0, len(first_thousand)):
  print(subset_data(first_thousand, row, [0, 1, 2]))

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>Question #1:</h1>
<b>How many views did the top 10 videos get? </b>
</div>

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>Question #2:</h1>
<b>If you were selecting a video to run your ads on, what metric would you use to make the best decision?</b>
</div>